<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ encore_entry_link_tags('app', null, 'frontend') }}
    {{ encore_entry_script_tags('app', null, 'frontend') }}

    <title>Bahama - Broadband & Internet Service Providers HTML Template</title>

</head>

<body>

</body>
    {% setcontent global = 'global' %}

    {% include 'partials/_header.twig' %}

    {% block content %} {% endblock %}

    {% include 'partials/_footer.twig' %}
</html>
