<!-- Start CTA Area -->
<section class="cta-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="cta-content">
                    <h3>Call Us Now For Connect Bahama</h3>
                    {% set phone = global.contact|filter(f => f.name == 'phone')|first %}
                    <a href="tel:{{ phone }}">{{ phone }}</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="cta-btn">
                    {#<a href="#" class="btn btn-primary">Check Coverage in Your Area</a>#}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End CTA Area -->
