<!-- Start Features Area -->
<section class="features-area bg-image ptb-100">
    <div class="container">
        <div class="section-title">
                    <span>
                        <span class="icon">
                            <i class="flaticon-wifi"></i>
                        </span>

                        <span>Bahama Isp Features</span>
                    </span>
            <h2>We are internet service provider company in United States</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-speedometer"></i>
                    </div>

                    <h3>Download 1Gbps</h3>

                    <p>Lorem ipsum dolor sit do eiusmod sit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                    <div class="back-icon">
                        <i class="flaticon-speedometer"></i>
                    </div>

                    <a href="#" class="details-btn"><i class="flaticon-arrow-pointing-to-right"></i></a>

                    <div class="image-box">
                        <img src="assets/img/shape-image/2.png" alt="image">
                        <img src="assets/img/shape-image/2.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-speedometer-1"></i>
                    </div>

                    <h3>99% Internet Uptime</h3>

                    <p>Lorem ipsum dolor sit do eiusmod sit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                    <div class="back-icon">
                        <i class="flaticon-speedometer-1"></i>
                    </div>

                    <a href="#" class="details-btn"><i class="flaticon-arrow-pointing-to-right"></i></a>

                    <div class="image-box">
                        <img src="assets/img/shape-image/2.png" alt="image">
                        <img src="assets/img/shape-image/2.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>

                    <h3>24/7 Customer Support</h3>

                    <p>Lorem ipsum dolor sit do eiusmod sit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                    <div class="back-icon">
                        <i class="flaticon-support"></i>
                    </div>

                    <a href="#" class="details-btn"><i class="flaticon-arrow-pointing-to-right"></i></a>

                    <div class="image-box">
                        <img src="assets/img/shape-image/2.png" alt="image">
                        <img src="assets/img/shape-image/2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->
