<!-- Start Pricing Area -->
<section class="pricing-area ptb-100 extra-mb pb-0">
    <div class="container">
        <div class="section-title">
                    <span>
                        <span class="icon">
                            <i class="flaticon-resume"></i>
                        </span>

                        <span>Bahama Pricing</span>
                    </span>
            <h2>Discover our best plans</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-table">
                    <div class="pricing-header">
                        <div class="icon">
                            <i class="flaticon-online-shop"></i>
                        </div>

                        <span>TV + Internet</span>
                        <h3>Player Bundle</h3>
                    </div>

                    <ul class="pricing-features-list">
                        <li><i class="flaticon-check-mark"></i> 150+ channels</li>
                        <li><i class="flaticon-check-mark"></i> Catch Up & On Demand</li>
                        <li><i class="flaticon-check-mark"></i> Cell Phone Connection</li>
                        <li><i class="flaticon-check-mark"></i> Up to 100Mbps fibre</li>
                        <li><i class="flaticon-check-mark"></i> Made for 1-4 devices</li>
                    </ul>

                    <div class="price">
                        <span>From</span>
                        <span>$</span>
                        67.99
                        <span>/mo</span>
                    </div>

                    <a href="#" class="view-plans-btn">View Plans</a>

                    <div class="image-box">
                        <img src="assets/img/shape-image/2.png" alt="image">
                        <img src="assets/img/shape-image/2.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-table active">
                    <div class="pricing-header">
                        <div class="icon">
                            <i class="flaticon-online-shop"></i>
                        </div>

                        <span>TV + Internet</span>
                        <h3>Bahama TV Box</h3>
                    </div>

                    <ul class="pricing-features-list">
                        <li><i class="flaticon-check-mark"></i> 150+ channels</li>
                        <li><i class="flaticon-check-mark"></i> Catch Up & On Demand</li>
                        <li><i class="flaticon-check-mark"></i> Cell Phone Connection</li>
                        <li><i class="flaticon-check-mark"></i> Up to 100Mbps fibre</li>
                        <li><i class="flaticon-check-mark"></i> Made for 1-4 devices</li>
                    </ul>

                    <div class="price">
                        <span>From</span>
                        <span>$</span>
                        79.99
                        <span>/mo</span>
                    </div>

                    <a href="#" class="view-plans-btn">View Plans</a>

                    <div class="image-box">
                        <img src="assets/img/shape-image/2.png" alt="image">
                        <img src="assets/img/shape-image/2.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-pricing-table">
                    <div class="pricing-header">
                        <div class="icon">
                            <i class="flaticon-online-shop"></i>
                        </div>

                        <span>TV + Internet</span>
                        <h3>Broadband & WIFI</h3>
                    </div>

                    <ul class="pricing-features-list">
                        <li><i class="flaticon-check-mark"></i> 150+ channels</li>
                        <li><i class="flaticon-check-mark"></i> Catch Up & On Demand</li>
                        <li><i class="flaticon-check-mark"></i> Cell Phone Connection</li>
                        <li><i class="flaticon-check-mark"></i> Up to 100Mbps fibre</li>
                        <li><i class="flaticon-check-mark"></i> Made for 1-4 devices</li>
                    </ul>

                    <div class="price">
                        <span>From</span>
                        <span>$</span>
                        99.99
                        <span>/mo</span>
                    </div>

                    <a href="#" class="view-plans-btn">View Plans</a>

                    <div class="image-box">
                        <img src="assets/img/shape-image/2.png" alt="image">
                        <img src="assets/img/shape-image/2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Area -->
